.popup {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    overflow: hidden;

}

