.popup__button-save {
    background-image: url(../../../images/save-btn.svg);
    border: none;
    width: 358px;
    margin-top: 45px;
    height: 50px;
    color: white;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;

}

.popup__button-save:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.8s ease;
}

@media screen and (max-width: 767px) {
    .popup__button-save {
        font-size: 14px;
        margin-top: 45px;
        width: 238px;
    }
}