.element__heart {
    border: none;
    width: 22px;
    height: 19px;
    margin-right: 20px;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/unliked-heart.svg);
    background-size: cover;
}

.element__heart:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.8s ease;
}
