.element__button-heart_liked {
    background-image: url(../../../../images/liked-heart.svg);



}
.element__button-heart_liked:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.8s ease;
}
