.popup__close{



    cursor: pointer;
    border: none;
    background-color: black;
    background-image: url(../../../images/close-btn.svg);
    background-size: cover;
    width: 32px;
    height: 32px;


}

