.footer {
    margin: 0 auto;
    padding-top: 65px;
    max-width: 880px;
    width: 100%;
    color: #545454;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 767px) {
    .footer {
        padding: 0;
        grid-template-columns:1fr;
        max-width: 282px;
        margin: 45px auto auto;
    }
}